@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');
:root{
    font-family: 'Roboto Condensed', sans-serif;
}


header {
    background: #BBBBBB;
    padding: 20 0;
}
.caixa { 
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position:absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: 1s;
}

nav a:hover{
    color: #e52222e3;
    text-decoration: wavy;
    transform: scale(1.3);
    font-size: larger;
}

.banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}



.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    color: rgba(0,0,0,0.5);
    text-shadow: 2px 2px #000000;

}
.titulo-principal:before{
    content: "[ ";
}
.titulo-principal:after{
    content: " ]";
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.mapa {
    padding: 3em 0 ;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}


.beneficios {
    padding: 3em 0;
    background: #888888;
    margin: 0 auto;
}

.img-beneficios {
    width: 60%;
    transition: 400ms;
    opacity: 1;
    box-shadow: 10px 10px 10px #000000;
}

.img-beneficios:hover {
    opacity: 50%;
}

.utensilios {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;

}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5em;
}

.itens:nth-child(2n) {
    font-weight: bolder;
}

.itens:before {
    content: "★";
}

.video {
    width: 560px;
    margin: 2em auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border:  2px solid #000000;
    border-radius: 10px

}

.produtos li:hover{
    border-color: #f90e0e90;
    
}

.produtos li:active{
    border-color: #088C19;
}

.produtos li:hover h2{
    font-size: 34px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}


form {

     margin-top: 40px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    resize: none;
}

.checkbox{
    margin: 20px 20px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;
}
.enviar:hover{
    background: darkorange;
    cursor: pointer;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bolder;
    padding: 8px 15px;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}


footer {
    text-align: center;
    background-image: url("./bg.jpg");
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 10px 0;
}


@media (max-width: 480px) {
     .caixa, .mapa-conteudo, .conteudo-beneficios, .video, .titulo-principal {
        width: 100%;
        text-align: center;
    }

    h1, h2 {
        text-align: center;
    }

    nav {
        position: static;
    
    }

    .lista-beneficios {
        width: 80%;
    }

    .img-beneficios {
        width: 80%;
        margin:  10px 50px 20px;
        
    }
    .produtos {
        width: 100%;
    }

    .produtos li {
        width: 100%;
        margin: 1em;
        display: block;
    }
    
    form {
        width: auto;
        text-align: center;       
    }

    .input-padrao {
        width: 89%;
        padding: 0px;
        height: 3em;
        margin: 0 auto;
    }

    #mensagem{
        height: 5em;
    }

    table {
        margin: 1em auto;
    }

    form label {
        padding: 2px;
    }

    fieldset > legend {
        padding: 5px;
    } 
}
